.contianer > .MuiFormControl-root > .MuiFormLabel-root {
  right: 0;
  left: auto;
  direction: rtl;
}

.select-label {
  right: 0;
  margin-right: 20px;
}

.MuiGrid-root > .MuiButtonBase-root {
  background-color: cornflowerblue;
  margin-top: 42px;
  margin-right: auto;
}
